<app-default-layout title="Assets">
  <div class="grid grid-cols-5 gap-x-6">
    <div class="bg-white rounded-lg">
      <div class="p-4">
        <div class="flex items-center justify-between">
          <h3 class="font-medium text-base">Filters</h3>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="1.5" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path
                d="M4 12a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 12a1 1 0 1 0 2 0 1 1 0 1 0-2 0M18 12a1 1 0 1 0 2 0 1 1 0 1 0-2 0"/>
            </svg>
          </button>
        </div>

        <div class="mt-4 w-full flex flex-wrap items-center gap-x-2 text-sm">
        <span class="flex items-center gap-x-2 p-2 bg-yellow-400 rounded">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M18 6 6 18M6 6l12 12"/>
            </svg>
          </button>
          <span>Forklift</span>
        </span>
          <span class="flex items-center gap-x-2 p-2 bg-yellow-400 rounded">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M18 6 6 18M6 6l12 12"/>
            </svg>
          </button>
          <span>Trailer</span>
        </span>
        </div>
        <div class="mt-4">
          <app-search-input class="mt-4" name="assets-search" placeholder="Find Asset"/>
        </div>
      </div>
      <hr/>
      <div class="p-4">
        <app-searchable-input label="Manufacturer" placeholder="Search Manufacturer"/>
      </div>
      <hr/>
      <div class="p-4">
        <app-searchable-input label="Model" placeholder="Search Model"/>
      </div>
      <hr/>
      <div class="p-4">
        <h3 class="text-sm font-medium mb-4">
          Status
        </h3>
        <div class="flex items-center gap-x-2">
          <input type="checkbox" id="storage" name="storage" value="storage">
          <label for="storage" class="text-sm">In Storage</label>
        </div>
        <div class="flex items-center gap-x-2 mt-2">
          <input type="checkbox" id="use" name="use" value="use">
          <label for="use" class="text-sm">In Use</label>
        </div>
        <div class="flex items-center gap-x-2 mt-2">
          <input type="checkbox" id="maintenance" name="maintenance" value="maintenance">
          <label for="maintenance" class="text-sm">In Maintenance</label>
        </div>
      </div>
    </div>
    <div class="col-span-4 bg-white rounded-lg">
      <div class="flex justify-end p-4">
        <a routerLink="/assets/register" class="flex items-center rounded bg-blue-900 text-white px-4 py-2 gap-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
               stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M12 5v14M5 12h14"/>
          </svg>

          <span>Add Asset</span>
        </a>
      </div>
      <app-table [headers]="['#', 'Name', 'Model', 'Capacity', 'Location', 'Status', '']" [page]="1" [totalItems]="assets.length">
        <tr *ngFor="let asset of assets" routerLink="/assets/{{asset.id}}/overview" class="border-b cursor-pointer hover:bg-gray-100">
          <td class="pl-4">{{asset.id}}</td>
          <td>
            <div class="flex items-center gap-x-2 py-2">
              <img src="https://placehold.co/600x400" alt="Machine" class="border rounded h-16 w-16 object-cover"/>
              <div>
                <h3 class="font-medium">{{asset.name}}</h3>
                <p class="text-gray-500">Manufacturer: {{asset.manufacture}}</p>
              </div>
            </div>
          </td>
          <td>{{asset.model}}</td>
          <td>{{asset.capacity}}</td>
          <td>{{asset.location}}</td>
          <td class="px-4">
            <app-asset-status status="success">
              {{asset.usageStatus}}
            </app-asset-status>
          </td>
          <td class="pr-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M10 12a2 2 0 1 0 4 0 2 2 0 0 0-4 0"/>
              <path d="M21 12c-2.4 4-5.4 6-9 6-3.6 0-6.6-2-9-6 2.4-4 5.4-6 9-6 3.6 0 6.6 2 9 6"/>
            </svg>
          </td>
        </tr>
      </app-table>
    </div>
  </div>
</app-default-layout>
