<div class="grid grid-cols-7 bg-blue-50 capitalize font-medium">
  <div *ngFor="let weekDay of weekDays" class="flex items-center justify-center border py-2">
    {{weekDay}}
  </div>
</div>

<div class="text-gray-500">
  <div class="grid grid-cols-7 relative">
    <div class="bg-white border p-2">
      <p class="text-right h-6 opacity-10">28</p>
      <div class="h-24">Sun</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right h-6 opacity-10">29</p>
      <div class="h-24">Mon</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right h-6 opacity-10">30</p>
      <div class="h-24">Tue</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right h-6 opacity-10">31</p>
      <div class="h-24">Wed</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">1</p>
      <div class="h-24">Thu</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right h-6">2</p>
      <div class="h-24">Fri</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right h-6">3</p>
      <div class="h-24">Sat</div>
    </div>

    <div class="w-full flex flex-col gap-y-2 top-8 absolute z-20">
      <div class="w-full grid grid-cols-7  text-sm">
        <div>
          &nbsp;
        </div>
        <div class="col-span-3 flex bg-yellow-200 rounded p-1 mx-2">
          <div class="flex items-center gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M3 12a9 9 0 1 0 18 0 9 9 0 0 0-18 0M12 9h.01"/>
              <path d="M11 12h1v4h1"/>
            </svg>
            <span>Forklift FG25</span>
          </div>
        </div>
      </div>
      <div class="w-full grid grid-cols-7  text-sm">
        <div class="col-span-2">
          &nbsp;
        </div>
        <div class="col-span-2 flex bg-yellow-200 rounded p-1 mx-2">
          <div class="flex items-center gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M3 12a9 9 0 1 0 18 0 9 9 0 0 0-18 0M12 9h.01"/>
              <path d="M11 12h1v4h1"/>
            </svg>
            <span>Skip Tippler 821</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="grid grid-cols-7 relative">
    <div class="bg-white border p-2">
      <p class="text-right">4</p>
      <div>Sun</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">5</p>
      <div>Mon</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">6</p>
      <div>Tue</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">7</p>
      <div>Wed</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">8</p>
      <div>Thu</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">9</p>
      <div>Fri</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">10</p>
      <div class="h-24">Sat</div>
    </div>
  </div>
  <div class="grid grid-cols-7 relative">
    <div class="bg-white border p-2">
      <p class="text-right">11</p>
      <div>Sun</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">12</p>
      <div>Mon</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">13</p>
      <div>Tue</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">14</p>
      <div>Wed</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">15</p>
      <div>Thu</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">16</p>
      <div>Fri</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">17</p>
      <div class="h-24">Sat</div>
    </div>

    <div class="w-full flex flex-col gap-y-2 top-8 absolute z-20">
      <div class="w-full grid grid-cols-7 text-sm">
        <div class="col-span-2">
          &nbsp;
        </div>
        <div class="col-span-1 flex bg-yellow-200 rounded p-1 mx-2">
          <div class="flex items-center gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M3 12a9 9 0 1 0 18 0 9 9 0 0 0-18 0M12 9h.01"/>
              <path d="M11 12h1v4h1"/>
            </svg>
            <span>Forklift FG25</span>
          </div>
        </div>
      </div>
      <div class="w-full grid grid-cols-7 text-sm">
        <div class="col-span-2">
          &nbsp;
        </div>
        <div class="col-span-3 flex bg-yellow-200 rounded p-1 mx-2">
          <div class="flex items-center gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M3 12a9 9 0 1 0 18 0 9 9 0 0 0-18 0M12 9h.01"/>
              <path d="M11 12h1v4h1"/>
            </svg>
            <span>Trailer Infinity Maintenance</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-7 relative">
    <div class="bg-white border p-2">
      <p class="text-right">18</p>
      <div>Sun</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">19</p>
      <div>Mon</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">20</p>
      <div>Tue</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">21</p>
      <div>Wed</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">22</p>
      <div>Thu</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">23</p>
      <div>Fri</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">24</p>
      <div class="h-24">Sat</div>
    </div>

    <div class="w-full flex flex-col gap-y-2 top-8 absolute z-20">
      <div class="w-full grid grid-cols-7 text-sm">
        <div class="col-span-3">
          &nbsp;
        </div>
        <div class="col-span-1 flex bg-yellow-200 rounded p-1 mx-2">
          <div class="flex items-center gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M3 12a9 9 0 1 0 18 0 9 9 0 0 0-18 0M12 9h.01"/>
              <path d="M11 12h1v4h1"/>
            </svg>
            <span>Forklift FG25</span>
          </div>
        </div>
      </div>
      <div class="w-full grid grid-cols-7 text-sm">
        <div class="col-span-3">
          &nbsp;
        </div>
        <div class="col-span-1 flex bg-yellow-200 rounded p-1 mx-2">
          <div class="flex items-center gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
              <path stroke="none" d="M0 0h24v24H0z"/>
              <path d="M3 12a9 9 0 1 0 18 0 9 9 0 0 0-18 0M12 9h.01"/>
              <path d="M11 12h1v4h1"/>
            </svg>
            <span>Forklift FG25</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-7 relative">
    <div class="bg-white border p-2">
      <p class="text-right">25</p>
      <div>Sun</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">26</p>
      <div>Mon</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">27</p>
      <div>Tue</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">28</p>
      <div>Wed</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">29</p>
      <div>Thu</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">30</p>
      <div>Fri</div>
    </div>
    <div class="bg-white border p-2">
      <p class="text-right">31</p>
      <div class="h-24">Sat</div>
    </div>
  </div>
</div>
