<div class="w-full flex items-center rounded border border-gray-300 pl-2 py-1 gap-x-2">
  <label for="{{name}}">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <path d="M3 10a7 7 0 1 0 14 0 7 7 0 1 0-14 0M21 21l-6-6"/>
    </svg>
  </label>
  <input type="text" name="{{name}}" id="{{name}}" class="w-full p-0 py-1 pr-2 border-0 focus:ring-0" placeholder="{{placeholder}}">
</div>
