<div class="h-screen w-full bg-blue-50 flex items-center justify-center">
  <div class="flex flex-col bg-white w-96 p-6 rounded-lg shadow-xl">
    <div class="flex items-center justify-center">
      <img src="/assets/logo.jpg" alt="logo" class="w-40">
    </div>


    <div class="mt-8 w-full flex items-center rounded border border-gray-300 pl-2 py-1 gap-x-2">
      <label for="username">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="M8 7a4 4 0 1 0 8 0 4 4 0 0 0-8 0M6 21v-2a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v2"/>
        </svg>

      </label>
      <input type="text" name="username" id="username" class="w-full p-0 py-1 pr-2 border-0 focus:ring-0" placeholder="User">
    </div>

    <div class="mt-4 w-full flex items-center rounded border border-gray-300 pl-2 py-1 gap-x-2">
      <label for="password">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="w-5 h-5 text-gray-500" viewBox="0 0 24 24">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="m12 12 8-4.5M12 12v9M12 12 4 7.5M12 12l8 4.5M12 3v9M12 12l-8 4.5"/>
        </svg>
      </label>
      <input type="password" name="password" id="password" class="w-full p-0 py-1 pr-2 border-0 focus:ring-0" placeholder="Password">
    </div>

    <a routerLink="/dashboard" class="mt-8 flex items-center justify-center rounded bg-blue-900 text-white px-4 py-3 gap-x-2 font-semibold text-base">
      <span>Sign In</span>
    </a>

  </div>
</div>
