<label class="font-medium text-sm">{{label}}</label>
<div class="w-full flex justify-between items-center relative rounded border px-2 py-1 mt-2">
  <input type="text" class="border-0 focus:ring-0 px-0 py-1" placeholder="{{placeholder}}">
  <button>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <path d="m6 9 6 6 6-6"/>
    </svg>
  </button>
</div>
