<div class="flex w-full justify-between items-center mb-6">
  <h3 class="font-medium text-sm">Machine Meters</h3>

  <button class="flex items-center rounded bg-blue-900 text-white px-4 py-2 gap-x-2">Capture Machine Meters</button>
</div>

<app-table [headers]="['#', 'Unit', 'Unit Amount', 'User', 'Date', '']" [totalItems]="4">
  <tr class="border-b">
    <td>4</td>
    <td>Hours</td>
    <td>43</td>
    <td>
      <div class="flex items-center gap-x-2 py-2">
        <img src="https://placehold.co/600x400" alt="Machine" class="border rounded-full h-14 w-14 object-cover"/>
        <div>
          <h3 class="font-medium text-sm">Alberto Jr</h3>
          <p class="text-gray-500 text-sm">Area: Auto Mechanic</p>
        </div>
      </div>
    </td>
    <td>15-10-2022 14:30:23</td>
    <td>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <path d="M11 12a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 19a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 5a1 1 0 1 0 2 0 1 1 0 1 0-2 0"/>
      </svg>
    </td>
  </tr>
  <tr class="border-b">
    <td>3</td>
    <td>Hours</td>
    <td>13</td>
    <td>
      <div class="flex items-center gap-x-2 py-2">
        <img src="https://placehold.co/600x400" alt="Machine" class="border rounded-full h-14 w-14 object-cover"/>
        <div>
          <h3 class="font-medium text-sm">Alberto Jr</h3>
          <p class="text-gray-500 text-sm">Area: Auto Mechanic</p>
        </div>
      </div>
    </td>
    <td>15-10-2022 14:30:23</td>
    <td>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <path d="M11 12a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 19a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 5a1 1 0 1 0 2 0 1 1 0 1 0-2 0"/>
      </svg>
    </td>
  </tr>
  <tr class="border-b">
    <td>2</td>
    <td>Hours</td>
    <td>6</td>
    <td>
      <div class="flex items-center gap-x-2 py-2">
        <img src="https://placehold.co/600x400" alt="Machine" class="border rounded-full h-14 w-14 object-cover"/>
        <div>
          <h3 class="font-medium text-sm">Alberto Jr</h3>
          <p class="text-gray-500 text-sm">Area: Auto Mechanic</p>
        </div>
      </div>
    </td>
    <td>15-10-2022 14:30:23</td>
    <td>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <path d="M11 12a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 19a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 5a1 1 0 1 0 2 0 1 1 0 1 0-2 0"/>
      </svg>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>Hours</td>
    <td>4</td>
    <td>
      <div class="flex items-center gap-x-2 py-2">
        <img src="https://placehold.co/600x400" alt="Machine" class="border rounded-full h-14 w-14 object-cover"/>
        <div>
          <h3 class="font-medium text-sm">Alberto Jr</h3>
          <p class="text-gray-500 text-sm">Area: Auto Mechanic</p>
        </div>
      </div>
    </td>
    <td>15-10-2022 14:30:23</td>
    <td>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <path d="M11 12a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 19a1 1 0 1 0 2 0 1 1 0 1 0-2 0M11 5a1 1 0 1 0 2 0 1 1 0 1 0-2 0"/>
      </svg>
    </td>
  </tr>
</app-table>
