<div class="grid grid-cols-3 gap-3">
  <div class="col-span-3">
    <app-input label="Asset Name" (onChange)="setFormData('name', $event)"/>
  </div>
  <div>
    <app-input label="Manufacture" (onChange)="setFormData('manufacture', $event)"/>
  </div>
  <div>
    <app-input label="Model" (onChange)="setFormData('model', $event)"/>
  </div>
  <div>
    <app-input label="Capacity" (onChange)="setFormData('capacity', $event)"/>
  </div>
  <div class="col-span-3">
    <app-textarea label="Description" (onChange)="setFormData('description', $event)"/>
  </div>
  <div class="col-span-3">
    <div class="mb-2">Asset Image</div>
    <div class="flex flex-col items-center justify-center relative w-full h-40 border border-dashed rounded-lg text-gray-500">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" class="w-10 h-10 mb-4" viewBox="0 0 24 24">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <path d="M15 8h.01M3 6a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6z"/>
        <path d="m3 16 5-5c.928-.893 2.072-.893 3 0l5 5"/>
        <path d="m14 14 1-1c.928-.893 2.072-.893 3 0l3 3"/>
      </svg>

      <span *ngIf="!!file">{{file.name}} was Added</span>
      <span *ngIf="!file">Drop the image here</span>

      <input accept="image/jpeg, image/png" #fileInput (change)="handleFileInput(fileInput.files)" [disabled]="!!file" type="file" [ngClass]="{'cursor-pointer': !file}" class="w-full h-full absolute opacity-0" />
    </div>
  </div>
</div>
